:root {
  --dark-blue: #627985;
  --light-blue: #b2bfc6;
  --light-gray: #ececec;
  --light-red: #cd9a9a;
  --darker-red: #9e7676;
  --light-green: #a4cd9a;
  --darker-green: #7e9e75;
}

* {
  font-family: sofia-pro, sans-serif;
  margin: 0;
  padding: 0;
}
